
{% extends 'StudentApp/Base.html' %}
{% load static %}

{% block title %}View student{% endblock %}

{% block body %}
{% block content %}{% endblock %}
{% if add %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>New student of name  {{display.sName}}  &  roll number={{display.sRollno}} is  ADDED </strong> see below
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% elif update %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>The student of name  {{display.sName}}  &  roll number={{display.sRollno}} is  UPDATED </strong> see below
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% elif delete %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>The student of name  {{display.sName}}  &  roll number={{display.sRollno}} is  DELETED</strong> see below
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endif %}
   
{% if student %}
<div class="container" id='delStudent'>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Course</th>
                <th scope="col">Branch</th>
                <th scope="col">Year</th>
                <th scope="col">Roll number</th>
                <th scope="col">Address</th>
                <!-- It cobine multiple data in one column <th scope="col" colspan="2">Operation</th> -->

            </tr>
            {% for s in student %}
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{s.id}}</th>
                <!-- <td colspan="2">Larry the Bird</td> -->
                <td>{{s.sName}}</td>
                <td>{{s.sCourse}}</td>
                <td>{{s.sBranch}}</td>
                <td>{{s.sYear}}</td>
                <td>{{s.sRollno}}</td>
                <td>{{s.sAddress}}</td>


            </tr> 
        </tbody>
        {% endfor %}
    </table>
</div>

{% else %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>No student found </strong> Please add new Record
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endif %}
{% endblock %}